.mb-section-api-statistics {
  padding-bottom: 100px;
  padding-top: 100px;
}
.mb-api-statistics {
  display: flex;
  justify-content: center;
}
.mb-api-statistics .mb-api-statistics-item {
  padding: 0 45px;
  position: relative;
}
.mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value {
  font-family: "Airbnb Cereal App Medium";
  font-weight: 800;
  font-size: 55px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
  color: #0D3EF4;
}
.mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #3D3D48;
}
/*api-service */
.api-service .mb-header-small{
  padding-bottom: 0;
}
.api-service .mb-banner-description{
  margin-bottom: 80px;
}
.api-service .bg-blue{
  background: linear-gradient(91.89deg, #0D3EF4 -3.86%, #0228A7 53.23%, #1A249B 112.6%, #1A249B 112.6%);
  color: #fff;
}
.api-service .mb-section-api-advantages .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
.api-service .mb-section-api-advantages .mb-title-large{
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 80px;
}
.api-service .mb-section-api-advantages .text{
  padding: 0;
  margin: 11px 0 0 0;
}
.api-service .mb-section-api-advantages .group{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.api-service .mb-section-api-advantages .group .item{
  width: 23%;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}
.api-service .mb-section-api-advantages .group .item .icon{
  border: 1px solid;
  border-radius: 8px;
  padding: 52px;
  margin-bottom: 16px;
  text-align: center;
}
.api-service .mb-section-api-advantages .group .item .icon svg{
  width: 110px;
  height: 110px;
}
.api-service .mb-section-api-advantages .group .item .icon svg path{
  fill: #fff;
}
.api-service .mb-section-api-advantages .group .item .title{
  font-size: 20px;
  line-height: 28px;
}
.api-service .mb-section-api-advantages .group .item .disc{
  font-size: 14px;
  line-height: 26px;
  color: #3D3D48;
  display: none;
}
.api-service .mb-section-api-advantages .group:hover .item{
  width: calc(calc(100% - calc(42% - 75px))/3);
}
.api-service .mb-section-api-advantages .group .item:hover{
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
  border-radius: 8px;
  width: calc(42% - 75px);
}
.api-service .mb-section-api-advantages .group .item:hover .title{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #3D3D48;
  margin-bottom: 16px;
}
.api-service .mb-section-api-advantages .group .item:hover .disc{
  margin-bottom: 40px;
  display: block;
}
.api-service .mb-section-api-advantages .group .item:hover .icon{
  order: 3;
  border: none;
  padding: 0;
  text-align: left;
  margin-bottom: 0;
}
.api-service .mb-section-api-advantages .group .item:hover .icon svg{
  width: 68px;
  height: 68px;
}
.api-service .mb-section-api-advantages .group .item:hover .icon svg path{
  fill: #254CFF;
}
.mb-section-realtime-data{
  padding: 60px 0 100px 0;
}
.mb-section-realtime-data .mb-title-large {
  font-family: "Airbnb Cereal App Book";
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 20px;
}
.mb-section-realtime-data .disc{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 60px;
}
.realtime-data .card{
  background: #839EFF;
  border: none;
  padding: 25px 30px;
  border-radius: 10px;
}
.realtime-data .card.yellow{
  background: #FFC02D;
}
.realtime-data .card.aqua{
  background: #3FE7F3;
}
.realtime-data .card .title{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D48;
  margin-bottom: 16px;
}
.realtime-data .card dl{
  display: flex;
  margin-bottom: 0;
}
.realtime-data .card dl dt{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  color: #3D3D48;
}
.realtime-data .card dl dd{
  height: 28px;
  border-radius: 28px;
  font-family: "Airbnb Cereal App Medium";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00B159;
  background: #fff;
  text-align: center;
  margin: auto 0 auto 16px;
  padding: 4px 20px 4px 14px;
}
.realtime-data .card dl dd .icon{
  display: inline-block;
  margin-right: 6px;
}
.mb-section-our-network {
  padding: 100px 0 0 0;
}
.mb-section-our-network .mb-title-large{
  margin-bottom: 20px;
}
.mb-section-our-network .disc{
  margin-bottom: 40px;
}
/* Glowing Testimonials Making Us Proud! */
.mb-section-api-glowing {
  padding-top: 100px;
  padding-bottom: 0;
}
.mb-section-api-glowing .mb-title-large {
  margin-bottom: 40px;
}
.mb-section-api-glowing .slide-glowing{
  display: flex;
  justify-content: space-between;
}
.mb-section-api-glowing .slide-glowing .slide{
  background: #EBF1FF;
  padding: 52px 40px;
  width: 49%;
}
.mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo{
  margin-bottom: 30px;
}
.mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo img{
  width: auto;
  height: 56px;
}
.mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-content{
  margin-bottom: 64px;
  font-size: 14px;
  line-height: 26px;
  color: #3D3D48;
}
.mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-author{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D48;
}
.api-service .slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  list-style: none;
}
.api-service .slick-dots li {
  width: 12px;
  height: 12px;
  line-height: 0;
  position: relative;
  margin: 0 5px;
}
.api-service .slick-dots li button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: #D6D6D6;
  font-size: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
}
.api-service .slick-dots li:hover button {
  opacity: 1;
}
.api-service .slick-dots li.slick-active button {
  opacity: 1;
}
/* Get started with MassBit Route */
.mb-section-api-start {
  background: url("../images/api-start.jpg")no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 100px 0 108px 0;
}
.mb-section-api-start .mb-title-large{
  margin-bottom: 20px;
}
.mb-section-api-start .disc{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 52px;
}
@media (max-width: 1199px) {
  .mb-api-statistics .mb-api-statistics-item {
    padding: 0 22px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value{
    font-size: 50px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
    font-size: 16px;
  }
  .api-service .mb-section-api-advantages .mb-title-large{
    font-size: 50px;
    line-height: 160%;
  }
  
  /**/
  .api-service .mb-section-api-advantages .group .item .icon{
    padding: 40px;
  }
  .api-service .mb-section-api-advantages .group .item .icon svg{
    width: 90px;
    height: 90px;
  }
  .api-service .mb-section-api-advantages .group .item .title{
    font-size: 16px;
    line-height: 120%;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    padding: 40px 30px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .title{
    font-size: 30px;
    line-height: 120%;
  }
}
@media (max-width: 991px) {
  .mb-banner-heading span, .mb-banner-sub-heading {
    font-size: 56px;
    line-height: 120%;
  }
  .mb-section-api-statistics {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .mb-api-statistics .mb-api-statistics-item {
    padding: 0 20px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
    font-size: 14px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value {
    font-size: 32px;
    margin-bottom: 0;
  }
  .mb-api-statistics .mb-api-statistics-item:not(:last-child)::before {
    height: 40px;
  }

  /**/
  .api-service .mb-section-api-advantages .group .item .icon{
    padding: 30px;
  }
  .api-service .mb-section-api-advantages .group .item .icon svg{
    width: 60px;
    height: 60px;
  }
  .api-service .mb-section-api-advantages .group .item .title{
    font-size: 14px;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    padding: 30px 20px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .icon svg{
    width: 50px;
    height: 50px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .title{
    font-size: 22px;
  }

  .api-service .mb-section-api-advantages .container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .api-service .mb-section-api-advantages .mb-title-large {
    font-size: 40px;
    line-height: 160%;
  }
  .api-service .mb-section-api-advantages .text{
    margin: 11px 0 80px 0;
  }

  .mb-section-api-our-partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .mb-section-api-our-partners .mb-section-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .api-service{
    padding-top: 0;
  }
  .api-service header.mb-header-small {
    padding-top: 120px;
  }
  .api-service header.mb-header-small .photo img{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .api-service .mb-banner-description{
    margin-bottom: 40px;
  }
  .mb-api-statistics {
    flex-wrap: wrap;
  }
  .mb-api-statistics .mb-api-statistics-item {
    width: calc(100% / 2);
    margin-bottom: 10px;
  }
  .mb-api-statistics .mb-api-statistics-item:not(:nth-child(2n + 1))::before {
    display: none;
  }
  .mb-section-api-statistics {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .api-service .mb-section-api-advantages .container{
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .api-service .mb-section-api-advantages .mb-title-large{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .api-service .mb-section-api-advantages .text{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin: 0 0 40px 0;
  }
  .api-service .mb-section-api-advantages .group{
    display: block;
    gap: 0;
  }
  .api-service .slick-track{
    display: flex;
  }
  .api-service .mb-section-api-advantages .group .item{
    width: 246px!important;
    margin: 0 10px;
  }
  .api-service .mb-section-api-advantages .group:hover .item{
    width: 246px!important;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    width:246px!important;
  }
  .mb-section-realtime-data{
    padding-bottom: 80px;
  }
  .mb-section-realtime-data .mb-title-large {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  .mb-section-realtime-data .disc{
    margin-bottom: 40px;
  }
  .realtime-data .col-md-4 + .col-md-4{
    margin-top: 20px;
  }
  .mb-section-our-network {
    padding: 60px 0 0 0;
  }
  .mb-section-api-glowing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mb-section-api-glowing .slide-glowing .slide{
    padding: 30px;
  }
  .mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo{
    margin-bottom: 20px;
  }
  .mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-content{
    margin-bottom: 30px;
  }
  .mb-section-api-start{
    padding: 60px 0;
  }
  .mb-section-api-start .mb-title-large{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .mb-section-api-start .disc {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px){
  .mb-banner-heading span, .mb-banner-sub-heading {
    font-size: 24px;
  }
}