.mb-section-api-statistics {
  padding-bottom: 100px;
  padding-top: 100px;
}
.mb-api-statistics {
  display: flex;
  justify-content: center;
}
.mb-api-statistics .mb-api-statistics-item {
  padding: 0 45px;
  position: relative;
}
.mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value {
  font-family: "Airbnb Cereal App Medium";
  font-weight: 800;
  font-size: 55px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
  color: #0D3EF4;
}
.mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #3D3D48;
}
/*api-service */
.api-service .mb-header-small{
  padding-bottom: 0;
}
.api-service .mb-banner-description{
  margin-bottom: 80px;
}
.api-service .bg-blue{
  background: linear-gradient(91.89deg, #0D3EF4 -3.86%, #0228A7 53.23%, #1A249B 112.6%, #1A249B 112.6%);
  color: #fff;
}
.api-service .mb-section-api-advantages .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
.api-service .mb-section-api-advantages .mb-title-large{
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 80px;
}
.api-service .mb-section-api-advantages .text{
  padding: 0;
  margin: 11px 0 0 0;
}
.api-service .mb-section-api-advantages .group{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.api-service .mb-section-api-advantages .group .item{
  width: 23%;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}
.api-service .mb-section-api-advantages .group .item .icon{
  border: 1px solid;
  border-radius: 8px;
  padding: 52px;
  margin-bottom: 16px;
  text-align: center;
}
.api-service .mb-section-api-advantages .group .item .icon svg{
  width: 110px;
  height: 110px;
}
.api-service .mb-section-api-advantages .group .item .icon svg path{
  fill: #fff;
}
.api-service .mb-section-api-advantages .group .item .title{
  font-size: 20px;
  line-height: 28px;
}
.api-service .mb-section-api-advantages .group .item .disc{
  font-size: 14px;
  line-height: 26px;
  color: #3D3D48;
  display: none;
}
.api-service .mb-section-api-advantages .group:hover .item{
  width: calc(calc(100% - calc(42% - 75px))/3);
}
.api-service .mb-section-api-advantages .group .item:hover{
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
  border-radius: 8px;
  width: calc(42% - 75px);
}
.api-service .mb-section-api-advantages .group .item:hover .title{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #3D3D48;
  margin-bottom: 16px;
}
.api-service .mb-section-api-advantages .group .item:hover .disc{
  margin-bottom: 40px;
  display: block;
}
.api-service .mb-section-api-advantages .group .item:hover .icon{
  order: 3;
  border: none;
  padding: 0;
  text-align: left;
  margin-bottom: 0;
}
.api-service .mb-section-api-advantages .group .item:hover .icon svg{
  width: 68px;
  height: 68px;
}
.api-service .mb-section-api-advantages .group .item:hover .icon svg path{
  fill: #254CFF;
}
.mb-section-realtime-data{
  padding: 60px 0 100px 0;
}
.mb-section-realtime-data .mb-title-large {
  font-family: "Airbnb Cereal App Book";
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 20px;
}
.mb-section-realtime-data .disc{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 60px;
}
.realtime-data .card{
  background: #839EFF;
  border: none;
  padding: 25px 30px;
  border-radius: 10px;
}
.realtime-data .card.yellow{
  background: #FFC02D;
}
.realtime-data .card.aqua{
  background: #3FE7F3;
}
.realtime-data .card .title{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D48;
  margin-bottom: 16px;
}
.realtime-data .card dl{
  display: flex;
  margin-bottom: 0;
}
.realtime-data .card dl dt{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  color: #3D3D48;
}
.realtime-data .card dl dd{
  height: 28px;
  border-radius: 28px;
  font-family: "Airbnb Cereal App Medium";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00B159;
  background: #fff;
  text-align: center;
  margin: auto 0 auto 16px;
  padding: 4px 20px 4px 14px;
}
.realtime-data .card dl dd .icon{
  display: inline-block;
  margin-right: 6px;
}
.mb-section-our-network {
  padding: 100px 0 0 0;
}
.mb-section-our-network .mb-title-large{
  margin-bottom: 20px;
}
.mb-section-our-network .disc{
  margin-bottom: 10px;
}
/* Glowing Testimonials Making Us Proud! */
.mb-section-api-glowing {
  padding-top: 100px;
  padding-bottom: 0;
}
.mb-section-api-glowing .mb-title-large {
  margin-bottom: 40px;
}
.mb-section-api-glowing .slide-glowing{
  display: flex;
  justify-content: space-between;
}
.mb-section-api-glowing .slide-glowing .slide{
  background: #EBF1FF;
  padding: 52px 40px;
  width: 49%;
}
.mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo{
  margin-bottom: 30px;
}
.mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo img{
  width: auto;
  height: 56px;
}
.mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-content{
  margin-bottom: 64px;
  font-size: 14px;
  line-height: 26px;
  color: #3D3D48;
}
.mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-author{
  font-family: "Airbnb Cereal App Medium";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D48;
}
.api-service .slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  list-style: none;
}
.api-service .slick-dots li {
  width: 12px;
  height: 12px;
  line-height: 0;
  position: relative;
  margin: 0 5px;
}
.api-service .slick-dots li button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: #D6D6D6;
  font-size: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
}
.api-service .slick-dots li:hover button {
  opacity: 1;
}
.api-service .slick-dots li.slick-active button {
  opacity: 1;
}
/* Get started with MassBit Route */
.mb-section-api-start {
  background: url("../images/api-start.jpg")no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 100px 0 108px 0;
}
.mb-section-api-start .mb-title-large{
  margin-bottom: 20px;
}
.mb-section-api-start .disc{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 52px;
}
.mb-section-our-network .map-api{
  position:relative;
}
.mb-section-our-network .group-map{
  position:relative;
  overflow-x: scroll;
  width: 100%;
}

.mb-section-our-network .group-map::-webkit-scrollbar {
  width: 0;
}

.mb-section-our-network .group-map::-webkit-scrollbar-track {
  box-shadow:none; 
  border-radius: 0;
  border: none;
}
 
.mb-section-our-network .group-map::-webkit-scrollbar-thumb {
  background: none; 
  border-radius: 0;
  border: none;
}

.mb-section-our-network .group-map::-webkit-scrollbar-thumb:hover {
  background: none; 
}

.mb-section-our-network .group-map::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

.mb-section-our-network .group-map .map{
  text-align: center;
  width: 1318px;
  margin-left: calc(50% - 659px);
  margin-right: calc(50% - 659px);
  position:relative;
  padding-top: 30px;
}
.mb-section-our-network .group-map .dot span{
  background: #FBAF1D;
  border-radius: 50%;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  position: absolute;
  -webkit-animation: ZoomInZoomOut 18s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
  animation-delay: calc(0.1s * var(--i));
}
@-webkit-keyframes ZoomInZoomOut {
  0% {
    transform: scale(1);
  }
  5.56% { 
    transform: scale(1.7);
  }
  11.11%{
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.mb-section-our-network .group-map .dot .orange{
  background: #FBAF1D;
}
.mb-section-our-network .group-map .dot .green{
  background: #00B159;
}
.mb-section-our-network .group-map .dot .size-medium{
  width: 24px;
  height: 24px;
  font-size: 9px;
  line-height: 24px;
}
.mb-section-our-network .group-map .dot .size-small{
  width: 20px;
  height: 20px;
  font-size: 9px;
  line-height: 20px;
}
.mb-section-our-network .group-map .dot span:nth-child(1){
  top: 30px;
  left: calc(50% - 149px);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.mb-section-our-network .group-map .dot span:nth-child(2){
  top: 143px;
  left: calc(50% - 469px);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.mb-section-our-network .group-map .dot span:nth-child(3){
  top:337px;
  left: calc(50% - 428px);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.mb-section-our-network .group-map .dot span:nth-child(4){
  top:382px;
  left: calc(50% - 404px);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.mb-section-our-network .group-map .dot span:nth-child(5){
  top:393px;
  left: calc(50% - 430px);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.mb-section-our-network .group-map .dot span:nth-child(6){
  top:411px;
  left: calc(50% - 402px);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.mb-section-our-network .group-map .dot span:nth-child(7){
  top:468px;
  left: calc(50% - 321px);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.mb-section-our-network .group-map .dot span:nth-child(8){
  top:536px;
  left: calc(50% - 179px);
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.mb-section-our-network .group-map .dot span:nth-child(9){
  top:621px;
  left: calc(50% - 285px);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.mb-section-our-network .group-map .dot span:nth-child(10){
  top:705px;
  left: calc(50% - 273px);
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
.mb-section-our-network .group-map .dot span:nth-child(11){
  top:149px;
  left: calc(50% - 100px);
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.mb-section-our-network .group-map .dot span:nth-child(12){
  top:228px;
  left: calc(50% - 73px);
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
.mb-section-our-network .group-map .dot span:nth-child(13){
  top:203px;
  left: calc(50% + 91px);
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.mb-section-our-network .group-map .dot span:nth-child(14){
  top:243px;
  left: calc(50% - 11px);
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}
.mb-section-our-network .group-map .dot span:nth-child(15){
  top:237px;
  left: calc(50% + 59px);
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
.mb-section-our-network .group-map .dot span:nth-child(16){
  top:286px;
  left: calc(50% - 75px);
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.mb-section-our-network .group-map .dot span:nth-child(17){
  top:273px;
  left: calc(50% - 45px);
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}
.mb-section-our-network .group-map .dot span:nth-child(18){
  top:301px;
  left: calc(50% - 45px);
  -webkit-animation-delay: 17s;
  animation-delay: 17s;
}
.mb-section-our-network .group-map .dot span:nth-child(19){
  top:286px;
  left: 50%;
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}
.mb-section-our-network .group-map .dot span:nth-child(20){
  top:276px;
  left: calc(50% + 30px);
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}
.mb-section-our-network .group-map .dot span:nth-child(21){
  top:293px;
  left: calc(50% + 55px);
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.mb-section-our-network .group-map .dot span:nth-child(22){
  top:310px;
  left: calc(50% + 115px);
  -webkit-animation-delay: 21s;
  animation-delay: 21s;
}
.mb-section-our-network .group-map .dot span:nth-child(23){
  top:322px;
  left: calc(50% + 172px);
  -webkit-animation-delay: 22s;
  animation-delay: 22s;
}
.mb-section-our-network .group-map .dot span:nth-child(24){
  top:342px;
  left: calc(50% + 137px);
  -webkit-animation-delay: 23s;
  animation-delay: 23s;
}
.mb-section-our-network .group-map .dot span:nth-child(25){
  top:368px;
  left: calc(50% + 35px);
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}
.mb-section-our-network .group-map .dot span:nth-child(26){
  top:380px;
  left: calc(50% + 53px);
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}
.mb-section-our-network .group-map .dot span:nth-child(27){
  top:413px;
  left: calc(50% - 105px);
  -webkit-animation-delay: 26s;
  animation-delay: 26s;
}
.mb-section-our-network .group-map .dot span:nth-child(28){
  top:473px;
  left: calc(50% + 122px);
  -webkit-animation-delay: 27s;
  animation-delay: 27s;
}
.mb-section-our-network .group-map .dot span:nth-child(29){
  top:117px;
  left: calc(50% + 544px);
  -webkit-animation-delay: 28s;
  animation-delay: 28s;
}
.mb-section-our-network .group-map .dot span:nth-child(30){
  top:248px;
  left: calc(50% + 453px);
  -webkit-animation-delay: 29s;
  animation-delay: 29s;
}
.mb-section-our-network .group-map .dot span:nth-child(31){
  top:278px;
  left: calc(50% + 498px);
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.mb-section-our-network .group-map .dot span:nth-child(32){
  top:318px;
  left: calc(50% + 383px);
  -webkit-animation-delay: 31s;
  animation-delay: 31s;
}
.mb-section-our-network .group-map .dot span:nth-child(33){
  top:336px;
  left: calc(50% + 401px);
  -webkit-animation-delay: 32s;
  animation-delay: 32s;
}
.mb-section-our-network .group-map .dot span:nth-child(34){
  top:369px;
  left: calc(50% + 375px);
  -webkit-animation-delay: 33s;
  animation-delay: 33s;
}
.mb-section-our-network .group-map .dot span:nth-child(35){
  top:410px;
  left: calc(50% + 253px);
  -webkit-animation-delay: 34;
  animation-delay: 34s;
}
.mb-section-our-network .group-map .dot span:nth-child(36){
  top:625px;
  left: calc(50% + 503px);
  -webkit-animation-delay: 35s;
  animation-delay: 35s;
}
@media (max-width: 1199px) {
  .mb-api-statistics .mb-api-statistics-item {
    padding: 0 22px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value{
    font-size: 50px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
    font-size: 16px;
  }
  .api-service .mb-section-api-advantages .mb-title-large{
    font-size: 50px;
    line-height: 160%;
  }
  
  /**/
  .api-service .mb-section-api-advantages .group .item .icon{
    padding: 40px;
  }
  .api-service .mb-section-api-advantages .group .item .icon svg{
    width: 90px;
    height: 90px;
  }
  .api-service .mb-section-api-advantages .group .item .title{
    font-size: 16px;
    line-height: 120%;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    padding: 40px 30px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .title{
    font-size: 30px;
    line-height: 120%;
  }
}
@media (max-width: 991px) {
  .mb-banner-heading span, .mb-banner-sub-heading {
    font-size: 56px;
    line-height: 120%;
  }
  .mb-section-api-statistics {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .mb-api-statistics .mb-api-statistics-item {
    padding: 0 20px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-label {
    font-size: 14px;
  }
  .mb-api-statistics .mb-api-statistics-item .mb-api-statistics-value {
    font-size: 32px;
    margin-bottom: 0;
  }
  .mb-api-statistics .mb-api-statistics-item:not(:last-child)::before {
    height: 40px;
  }

  /**/
  .api-service .mb-section-api-advantages .group .item .icon{
    padding: 30px;
  }
  .api-service .mb-section-api-advantages .group .item .icon svg{
    width: 60px;
    height: 60px;
  }
  .api-service .mb-section-api-advantages .group .item .title{
    font-size: 14px;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    padding: 30px 20px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .icon svg{
    width: 50px;
    height: 50px;
  }
  .api-service .mb-section-api-advantages .group .item:hover .title{
    font-size: 22px;
  }

  .api-service .mb-section-api-advantages .container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .api-service .mb-section-api-advantages .mb-title-large {
    font-size: 40px;
    line-height: 160%;
  }
  .api-service .mb-section-api-advantages .text{
    margin: 11px 0 80px 0;
  }

  .mb-section-api-our-partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .mb-section-api-our-partners .mb-section-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .api-service{
    padding-top: 0;
  }
  .api-service header.mb-header-small {
    padding-top: 120px;
  }
  .api-service header.mb-header-small .photo img{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .api-service .mb-banner-description{
    margin-bottom: 40px;
  }
  .mb-api-statistics {
    flex-wrap: wrap;
  }
  .mb-api-statistics .mb-api-statistics-item {
    width: calc(100% / 2);
    margin-bottom: 10px;
  }
  .mb-api-statistics .mb-api-statistics-item:not(:nth-child(2n + 1))::before {
    display: none;
  }
  .mb-section-api-statistics {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .api-service .mb-section-api-advantages .container{
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .api-service .mb-section-api-advantages .mb-title-large{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .api-service .mb-section-api-advantages .text{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin: 0 0 40px 0;
  }
  .api-service .mb-section-api-advantages .group{
    display: block;
    gap: 0;
  }
  .api-service .slick-track{
    display: flex;
  }
  .api-service .mb-section-api-advantages .group .item{
    width: 246px!important;
    margin: 0 10px;
  }
  .api-service .mb-section-api-advantages .group:hover .item{
    width: 246px!important;
  }
  .api-service .mb-section-api-advantages .group .item:hover{
    width:246px!important;
  }
  .mb-section-realtime-data{
    padding-bottom: 80px;
  }
  .mb-section-realtime-data .mb-title-large {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  .mb-section-realtime-data .disc{
    margin-bottom: 40px;
  }
  .realtime-data .col-md-4 + .col-md-4{
    margin-top: 20px;
  }
  .mb-section-our-network {
    padding: 60px 0 0 0;
  }
  .mb-section-our-network .group-map .map {
    margin-left: 0;
    margin-right: 0;
    z-index: 0;
  }
  .mb-section-api-glowing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mb-section-api-glowing .slide-glowing .slide{
    padding: 30px;
  }
  .mb-section-api-glowing .slide-glowing .slide .mb-slide-glowing-logo{
    margin-bottom: 20px;
  }
  .mb-section-api-glowing .slide-glowing .slide .mb-api-testimonial-content{
    margin-bottom: 30px;
  }
  .mb-section-api-start{
    padding: 60px 0;
  }
  .mb-section-api-start .mb-title-large{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .mb-section-api-start .disc {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px){
  .mb-banner-heading span, .mb-banner-sub-heading {
    font-size: 24px;
  }
}